[submodule "3-label-images"]
	path = 3-label-images
	url = https://github.com/winnerineast/labelme.git
[submodule "7-opencv"]
	path = 7-opencv
	url = https://github.com/opencv/opencv.git
[submodule "7-opencv_contrib"]
	path = 7-opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "8-youtube-dl"]
	path = 8-youtube-dl
	url = https://github.com/rg3/youtube-dl.git
[submodule "9-face_recognition"]
	path = 9-face_recognition
	url = https://github.com/ageitgey/face_recognition.git
[submodule "9-dlib"]
	path = 9-dlib
	url = https://github.com/davisking/dlib.git
[submodule "10-openpose"]
	path = 10-openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose.git
[submodule "11-digits"]
	path = 11-digits
	url = https://github.com/NVIDIA/DIGITS.git
[submodule "11-nvcaffe"]
	path = 11-nvcaffe
	url = https://github.com/NVIDIA/caffe.git
[submodule "12-darknet"]
	path = 12-darknet
	url = https://github.com/pjreddie/darknet.git
[submodule "13-ffmpeg"]
	path = 13-ffmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
